@model Compra
<h2>Eliminar registro?</h2><form asp-action="Delete" method="post"><input type="hidden" asp-for="IdCompra" />
<button class="btn btn-danger">Eliminar</button><a asp-action="Index" class="btn btn-secondary">Cancelar</a></form>
