@model Parto
<h2>Eliminar parto?</h2>
<form asp-action="Delete" method="post"><input type="hidden" asp-for="IdParto" />
<button class="btn btn-danger">Eliminar</button><a asp-action="Index" class="btn btn-secondary">Cancelar</a></form>
