@model Usuario
<h2>Eliminar usuario @Model.UsuarioLogin?</h2>
<form asp-action="Delete" method="post"><input type="hidden" asp-for="IdUsuario" />
<button class="btn btn-danger">Eliminar</button><a asp-action="Index" class="btn btn-secondary">Cancelar</a></form>
