@model Ciclo12026

<div class="form-group">
    <label asp-for="Numero"></label>
    <input asp-for="Numero" type="number" />
    <span asp-validation-for="Numero" class="field-validation-error"></span>
</div>
<div class="form-group">
    <label asp-for="Ano">Año</label>
    <input asp-for="Ano" type="number" />
</div>
<div class="form-group">
    <label asp-for="Propietario"></label>
    <input asp-for="Propietario" />
</div>
<div class="form-group">
    <label asp-for="Color"></label>
    <input asp-for="Color" />
</div>
<div class="form-group">
    <label asp-for="Sexo"></label>
    <input asp-for="Sexo" />
</div>
<div class="form-group">
    <label asp-for="Lote"></label>
    <input asp-for="Lote" />
</div>
<div class="form-group">
    <label asp-for="FechaVacuna">Fecha vacuna</label>
    <input asp-for="FechaVacuna" type="date" />
</div>
<div class="form-group">
    <label asp-for="Observacion">Observación</label>
    <textarea asp-for="Observacion" rows="3"></textarea>
</div>
